- bin = locals[:bin] if bin.nil?
%h5
  = "#{bin.routeposition} #{bin.name}"
  - if !bin.suco.nil? or !bin.suco==""
    ="(#{bin.suco})"
%p
  - if !bin.contactName.nil? then
    Contact: #{bin.contactName}
  - if !bin.telephone.nil? then
    Phone: #{bin.telephone}
- if !bin.notes.nil? then
  %p
    Notes: #{bin.notes}
