
.w-100
.col-8
.col-1
  =image_tag "verde.jpg", size: "100x100"
.w-100
.col-1
.col
  %h4
    Bin:
    = @mybin.name
  %h5
    Report Range
    = locals[:month_range]
  %h5
    Entity ID:
    =@mybin.id
  %table(class="table table-hover table-condensed table-responsive" width="100%" cellspacing="0" id="winners_table")
    %thead.thead-default
      %tr
        %th Name
        %th Suco
        %th Collection Date
        %th Time
        -#%th User
        %th
        %th
    %tbody
      - collections=@mybin.actiontypes.thisMonth.order("created_at DESC")
      - if locals[:scope]=="lastMonth"
        - collections=@mybin.actiontypes.lastMonth.order("created_at DESC")
      - collections.each do |collection|
        %tr
          %td= collection.entity.name
          %td= collection.entity.suco
          %td
            = collection.created_at.in_time_zone(SETTINGS.timezone).to_date
          %td
            = collection.created_at.in_time_zone(SETTINGS.timezone).strftime("%H:%M:%S")
          -# %td
          -#  = collection.user
          -#  (Coming soon)

.w-100
.col-1
.col
  %h5 Customer Signature
  %p
  %p _____________________
  %p
    =@mybin.contactName
    ="[#{@mybin.telephone}]"
