- content_for :head do
  :javascript
    function binURL() { return "/bins.json?icon=route"; };
    console.log("setting binURL to: ", binURL)


%h1 Map of Routes
#map{:style => "height: 400px; width: 400;"}
%h3 Legend
%dl
  %dt.attribute-label Blue Icon
  %dd.attribute-data
    %td= link_to Route.first.name, "/routes/show/#{Route.first.id}"
    = Route.first.route_members.size
    = link_to "/routes/show/#{Route.first.id}.csv"  do
      %i.fas.fa-download

  %dt.attribute-label Yellow Icon
  %dd.attribute-data
    %td= link_to Route.last.name, "/routes/show/#{Route.last.id}"
    = Route.last.route_members.size
    = link_to  "/routes/show/#{Route.last.id}.csv" do
      %i.fas.fa-download

  %dt.attribute-label Red Icon
  %dd.attribute-data No route!!!

%p
  Links
  =link_to 'Map', '/bins/googlemaps'
