
%table(class="table table-hover table-sm table-responsive" width="100%"
 cellspacing="0" id="collections_table")
  %thead
    %tr
      %th Entity
      %th Suco
      %th Time
      %th Latitude/Longitude
      %th.d-none.d-xl-block
        Accuracy
      %th.d-none.d-lg-block
        To Bin (km)
      %th.d-none.d-xl-block
        Time UTC
      %th
  %tbody
    - locals[:clist].each do |collection|
      -bindist=5000
      -bindist=collection.location.haversine_distance(collection.entity.location) if !collection.location.nil?
      - rclass=""
      - rclass = "table-warning" if bindist <= 1.0
      - rclass ="table-danger" if bindist==5000
      - rclass ="table-success" if bindist < 0.1
      %tr(class="#{rclass}")
        %td= collection.entity.name
        %td= collection.entity.suco
        %td
          = time_ago_in_words collection.created_at
          ago
        - if !collection.location.nil?
          %td= link_to collection.location.latLngShort, bin_collectmap_url(collection.entity)
          %td.d-none.d-xl-block= number_with_precision(collection.location.accuracy, :precision => 2)
        - else
          %td Loc fail
          %td.d-none.d-xl-block
            tbc
        %td.d-none.d-lg-block= number_with_precision(bindist, :precision => 2)
        %td.d-none.d-xl-block= collection.created_at.strftime('%d %b %Y %H:%M:%S')
        %td
          = link_to bin_report_url(collection.entity) do
            Report
            %i.fas.fa-chart-line
