%table(class="table table-hover table-condensed table-responsive" width="100%" cellspacing="0" id="winners_table")
  %thead.thead-default
    %tr
      %th Entity
      %th Suco
      %th Time
      %th Latitude/Longitude
      %th.d-none.d-xl-block.d-xxl-none Accuracy
      %th To Bin (km)
      %th.d-none.d-lg-block.d-xl-block Time UTC
      %th
  %tbody
    - locals[:clist].each do |collection|
      %tr
        %td= collection.entity.name
        %td= collection.entity.suco
        %td
          = time_ago_in_words collection.created_at
          ago
        - if !collection.location.nil?
          %td= link_to collection.location.latLngShort, bin_collectmap_url(collection.entity)
          %td.d-none.d-xl-block.d-xxl-none= number_with_precision(collection.location.accuracy, :precision => 2)
        - else
          %td Loc fail
          %td tbc
        %td= number_with_precision(collection.location.haversine_distance(collection.entity.location), :precision => 2)  if !collection.location.nil?
        %td.d-none.d-lg-block.d-xl-block= collection.created_at.strftime('%d %b %Y %H:%M:%S')
        %td
          = link_to bin_report_url(collection.entity) do
            Report
            %i.fas.fa-chart-line
