- content_for :javascript do
  :javascript
    function toggleBarCodeDisplay() {
    var x = document.getElementById("qrCodeUpdateLocation");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";  }
    }


%dt.attribute-label{:id => "entity.location"}
  Toggle Visibility
%dd.attribute-data
  = link_to "Update Location QR Visibility", "", :onclick => "toggleBarCodeDisplay(); return false"


%div#qrCodeUpdateLocation(style="display:none;")
  %dt.attribute-label{:id => "entity.qrcode"} Update location QR Code
  %dd.attribute-data
    %h2= locals[:page].resource.name
    %h4
      = locals[:page].resource.id
      [Update location Link]
    = locals[:page].resource.svg_update_location_qrcode.html_safe
  %dt.attribute-label{:id => "entity.qrcode"} Update location Button
  %dd.attribute-data
    = link_to "Update bin location", v1_entities_update_location_url(id: locals[:page].resource.id), class: "button"
    %p Click this button to change the location of the bin in the database. The QR code and button have identical functionality.
