- rm = locals[:routemember]
.col-sm-2
  .card.card-body.mb-2
    %h6.card-header
      = "#{rm.position} : #{rm.entity.name}"
    %h6.card-title
      - at=rm.entity.most_recent_actiontype
      - if !at.nil? and at.today?
        %span.badge.badge-success.text-small Collected Today!
      - if !at.nil? and at.yesterday?
        %span.badge.badge-warning.text-small Collected Yesterday!
    %p.small.card-subtitle
      - suco=" "
      - suco=rm.entity.suco if !rm.entity.nil? and !rm.entity.suco.nil?
      = "#{rm.entity.contactName} #{rm.entity.telephone} [#{suco}]"
