
%h2
  List of collections
  = link_to "/routes/collections.csv"  do
    %i.fas.fa-download


%table(class="table table-hover table-condensed table-responsive" width="100%" cellspacing="0" id="winners_table")
  %thead.thead-default
    %tr
      %th Name
      %th Suco
      %th Date
      -#%th User
      %th Report
      %th
      %th
  %tbody
    - @pickups.each do |collection|
      %tr
        %td= collection.entity.name
        %td= collection.entity.suco
        %td
          = time_ago_in_words collection.created_at
          ago
        %td= link_to 'Report', bin_report_url(collection.entity)
        -# %td
        -#  = collection.user
        -#  (Coming soon)


.row
  = paginate @pickups, theme: 'twitter-bootstrap-4'

.row
  %p
    ++
    =link_to 'Routes', routemaps_bins_url
    |
    =link_to 'Map', googlemaps_bins_url
