%h1 Routes
%h3 List the routes
%table(class="table table-hover table-condensed")
  %thead
    %tr
      %th Name
      %th Route
      %th Schedule
      %th Members
      %th
      %th

  %tbody
    - @myroutes.each do |myroute|
      %tr

        %td= link_to myroute.name, "/routes/show/#{myroute.id}"
        %td= myroute.id[0..15]
        %td= myroute.schedule
        %td= myroute.route_members.size
        %td= link_to 'Show', "/routes/show/#{myroute.id}"
        %td
          = link_to "/routes/show/#{myroute.id}.csv" do
            %i.fas.fa-download



%br
= render 'entity_noroutes'
= render 'entity_tworoutes'
