%h2
  Route:
  = " [#{@myroute.name}] Member count: #{@myroute.route_members.size}"
  = link_to "/routes/show/#{@myroute.id}.csv" do
    %i.fas.fa-download


%h5
  Drag the elements up and down to change the order
%p
  %div{"data-controller" => "#{@dragController}", "data-drag-url" => "/routes/move/#{@myroute.id}"}
    - @route_members.order(position: :asc).each do |rm|
      .card.card-body.mb-4{"data-id" => rm.id}
        %h4.card-title
          = "Stop #{rm.position} : #{rm.entity.name}"
          - if rm.entity.iconcolor=="green"
            %span.badge.badge-success Visited Today!
        %h6.card-subtitle
          - suco=""
          - suco=rm.entity.suco if !rm.entity.nil? and !rm.entity.suco.nil?
          = "#{rm.entity.contactName} #{rm.entity.telephone} [#{suco}]"
        %p.small
          = "[#{rm.id}]"
