%h2
  Tile View Route:
  = "[#{@myroute.name}] Member count: #{@myroute.route_members.size}"
  = link_to "/routes/show/#{@myroute.id}.csv" do
    %i.fas.fa-download
%h5
  = "Schedule: #{@myroute.schedule}"
.row.no-gutters
  - collection = @route_members.order(position: :asc)
  - collection.each do |rm|
    = render 'tile', locals: { routemember: rm }

.row
  = render 'bins/links', locals: { route: true, collection: true, bin: true}
